.heng ul{
    display: flex;
    flex-direction: row;
}
.heng ul li{
    margin-left:20px;
}
.heng a{
    color: white;
}

.article-title ul li{
    margin-right: 20px;
}

.entry-header h1 {
    position: relative;
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 20px;
    /*border: red solid 1px;*/
}

/* -------------------------------------------------- */
/*	Social Icons
/* -------------------------------------------------- */

.social-icons {
    padding-top: 8px;
    float: right;
    /*border:red solid 1px;*/
}

.social-icons li {
    float: right;
    margin-right: 30px;
    margin-bottom:20px;
    margin-top: 20px;
}

.social-icons li a {
    position: relative;
    display: block;
    width: 31px;
    height: 31px;
    border-width: 2px;
    border-style: solid;
    border-color: #b1aea5;
    background-image: url(../images/icons/social-icons.png);
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.social-icons li a,
.social-icons li a {
    behavior: url(../js/PIE.htc);
}

.social-icons li.twitter a {background-position: 0 0;}
.social-icons li.facebook a {background-position: -31px 0;}
.social-icons li.dribble a {background-position: -62px 0;}
.social-icons li.vimeo a {background-position: -93px 0;}
.social-icons li.rss a {background-position: -124px 0;}

.social-icons li:hover a {border-color: #696660;}

.social-icons li a > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/icons/social-icons.png);
    background-repeat: no-repeat;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.social-icons li:hover span {opacity: 1; filter: alpha(opacity = 100);}

.social-icons li.twitter a > span {background-position: 0 -31px;}
.social-icons li.facebook a > span {background-position: -31px -31px;}
.social-icons li.dribble a > span {background-position: -62px -31px;}
.social-icons li.vimeo a > span {background-position: -93px -31px;}
.social-icons li.rss a > span {background-position: -124px -31px;}

/*喜欢*/
.article-title ul li a{
    text-decoration: none;
    color: black;
}
#likea:hover{
    color: red;
    font-size: 1.2em;
}
/*JS来搞*/
/*#likea:visited:{*/
/*    color: red;*/
/*    font-size: 1.2em;*/
/*}*/

